@keyframes underline {
    0% {
      width: 0;
    }
    50%{
        width: 80%;
        pointer-events: none;
    }
    100% {
      width: 0%;
    }
  }
  
  .underline-animation {
    position: relative;
    display: inline-block;
    width: auto;
  }
  
  .underline-animation:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 18px;
    top:20px;
    height: 40px;
    border-radius: 5px;
    background-color: #e9ed76;
    opacity: 0.8;
    animation: underline 0.5s ease-in-out forwards;
  }
  